.dp--menu-wrapper{
  font-family: "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}
.dp--instance-calendar{
  background:#EEF2F7;
}
.dp--cell-inner{
  color:#1E2124;
  font-size: 1.7rem;
}
.dp--calendar-item .dp--cell-inner.dp--today{
  border-radius:50%;
  background:#fff;
  font-weight:600!important;
  border:0;
  color:inherit;
}

.dp--cell-inner.dp--today:after{
  position:absolute;
  bottom:3px;
  border-radius:50%;
  content:"";
  width:4px;
  height:4px;
  background:var(--Base--point);
}
.dp--month-year-select-base{
  font-size: 1.7rem!important;  
  font-weight: 700!important;
}

.dp--calendar-item .dp--active{
  background:var(--Base-secondary);
  color:#fff;
  border-radius:50%;
  border:none;
}
.dp--header-wrap{
  padding:1rem 0.8rem;
}
.dp--month-year-wrap .dp--arrow-btn-nav{
  border:1px solid var(--Border_gray0);
  border-radius:50%;
}
.dp--month-year-wrap .dp--inner-nav svg,
.dp--year-mode-picker .dp--inner-nav svg{
  display:none;
}
.dp--month-year-select-base:hover{
  background:inherit;
}
.dp--month-year-wrap .dp--arrow-btn-nav[data-dp-element="action-prev"]{
  background:url(/public/portal/asset/images/icon/ico_calendar_prev_20.svg) no-repeat center;
}
.dp--month-year-wrap .dp--inner-nav:hover{
  background:inherit;
}
.dp--month-year-wrap .dp--arrow-btn-nav[data-dp-element="action-next"]{
  background:url(/public/portal/asset/images/icon/ico_calendar_next_20.svg) no-repeat center;
}
.dp--calendar-header-item{
  font-size: 1.5rem;
  font-weight: 400;
}
.dp--month-year-wrap{
  gap:1rem;
  justify-content:center;
}
.dp--month-year-select{
  padding-right:2.8rem;
  width:auto;
  background:url(/public/portal/asset/images/icon/ico_calendar_month_arrow.svg) no-repeat right 1rem top 1.5rem;
  transition:none;
}
.dp--action-row{
  padding:1.6rem 2.4rem;
}
.dp--cell-offset{
  color:#8A949E;
}
.dp--menu-inner{
  padding:1.6rem 2.1rem;
}
.dp--calendar-row{
  gap:0.7rem;
}
.dp--calendar-header-separator{
  display:none;
}
.dp--clear-btn{
  display:none;
}